 <!-- About Section -->
    <section class="success" id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <a href="http://www.damore-mckim.northeastern.edu/faculty/c/chan-kwong">
                        <img class="ex-logo-img logo-img" src="https://neu.higheredtalent.org/resources/files/images/101503_32_1b013cd67c9dc6450e6d78c95bbfa756_large.png">
                    </a>
                </div>
                <div class="col-lg-8 exp-text" style="padding-top:3em; "><ul>
                    <li>Automated an audio-based customer feedback tool on predicting emotion from speech features and its text translation using LSTM and CNN algorithms with Keras and TensorFlow.</li><li>Researched on analysis of fake reviews and their impact using Near-duplicate detection, LIWC based classification with Map Reduce techniques on Amazon reviews Dataset with AWS S3 and EMR.</li></ul></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 portfolio-item">
                    <a href="https://www.placepass.com/">
                        <img class="ex-logo-img logo-img" src="https://cdn.placepass.com/images/logos/colored-logo.svg">
                    </a>
                </div>
                <div class="col-lg-8 exp-text"><ul><li>Automated the Data platform to sync data from different vendor API’s, worked on API stack to integrate product booking into the Placepass engine and created micro-services using .Net and Java.</li><li>Worked on Machine Learning problems which dealt with the classification of multi-labeled products, Topic modeling to generate tags for content with LDA/NMF using Python, NLTK and SK-learn libraries.</li></ul></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <a href="https://aerospace.honeywell.com/">
                        <img class="ex-logo-img logo-img" src="https://www.honeywell.com/-/media/Honeywell_com/Images/Icons/Navigation/honeywell_logo.png?h=64&la=en&w=180&hash=6F8071F03903158486E8517CCCA4675F5ED5A015">
                    </a>
                </div>
                <div class="col-lg-8 exp-text"><ul><li>Built a web application using MVC Architecture which serves as a navigational guide for pilots while performing search and rescue operations during natural disasters with LAMP stack and G-Maps API.</li><li>Developed a Graphical Web Application using Angular JS which analyses data dumps from flights, replacing time consuming error-prone manual efforts and assisting the maintenance engineers.</li></ul></div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <a href="http://www.fernuni-hagen.de/">
                        <img class="ex-logo-img logo-img" src="https://www.fernuni-hagen.de/imperia/md/images/logos/logo_fernuni_hagen.svg">
                    </a>
                </div>
                <div class="col-lg-8 exp-text" style="padding-top:3em; "><ul><li>Researched on Emotion Prediction in Email Conversations using Natural Language Processing, which required me to implement a spam classifier and then predict emotion from ham emails, using Java with Apache Lucene and Stanford NLP libraries.</li></ul></div>
            </div>
        </div>
    </section>
