 <!-- About Section -->
    <section class="success" id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <a href="https://www2.deloitte.com/us/en.html">
                        <img class="ex-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/5/56/Deloitte.svg">
                    </a>
                </div>
                <div class="col-lg-8 exp-text"><ul>
                    <li>For a healthcare client, devised Covid-19 data lakes using audit tables for data validation with custom email alerts. Generated optimized and scalable data extracts on patient data of over hundred million records using Scala with Spark, Hadoop and Hive.</li>
                    <li>Constructed cost reduction, vendor consolidation tool using Django. Developed and deployed the tool with backend xgboost models onto GCP, allowing users to train-test with a goal to classify healthcare purchase orders, choose the optimal pricing options and reduce manual efforts with 87% accuracy.</li>
                    <li>For a pharmaceutical client, generated scalable feature engineering pipelines to create a 360 degree patient view using Airflow and PySpark. Conducted hypothesis driven testing at a patient/drug level over clusters to help client better target the right population. Built Uplift models to test various health plans with a goal to identify the success rates across treatment groups, improve adherence and scripts.</li>
                    <li>Created Data cleaning framework for in-house ML package with end to end testing. Built pipelines to auto deploy transformation models onto MLFlow for reusability, optimizing the build times by ~ 30%.</li>
                    <li>Initiated internal AI hackathon for practitioners across the firm. Contributed in University related recruiting info session talks, studio jams and career fair events.</li>

                </ul>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <a href="http://www.damore-mckim.northeastern.edu/faculty/c/chan-kwong">
                        <img style="width: 40%;
                        margin-left: 25%;" class="ex-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/en/b/bd/Northeastern_University_seal.svg">
                    </a>
                </div>
                <div class="col-lg-8 exp-text" style="padding-top:2em; "><ul>
                    <li>Automated an audio-based customer feedback tool on predicting emotion from speech features and its text translation using LSTM and CNN algorithms with Keras and TensorFlow.</li><li>Researched on analysis of fake reviews and their impact using Near-duplicate detection, LIWC based classification with Map Reduce techniques on Amazon reviews Dataset with AWS S3 and EMR.</li></ul></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 portfolio-item">
                    <a href="https://www.placepass.com/">
                        <img class="ex-logo-img logo-img" src="https://cdn.placepass.com/images/logos/colored-logo.svg">
                    </a>
                </div>
                <div class="col-lg-8 exp-text"><ul><li>Automated the Data platform to sync data from different vendor API’s, worked on API stack to integrate product booking into the Placepass engine and created micro-services using .Net and Java.</li><li>Worked on Machine Learning problems which dealt with the classification of multi-labeled products, Topic modeling to generate tags for content with LDA/NMF using Python, NLTK and SK-learn libraries.</li></ul></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <a href="https://aerospace.honeywell.com/">
                        <img class="ex-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Honeywell_logo.svg">
                    </a>
                </div>
                <div class="col-lg-8 exp-text"><ul><li>Built a web application using MVC Architecture which serves as a navigational guide for pilots while performing search and rescue operations during natural disasters with LAMP stack and G-Maps API.</li><li>Developed a Graphical Web Application using Angular JS which analyses data dumps from flights, replacing time consuming error-prone manual efforts and assisting the maintenance engineers.</li></ul></div>
            </div>
            <div class="row">
                <div class="col-lg-4" style="padding-top:3em; ">
                    <a href="http://www.fernuni-hagen.de/">
                        <img class="ex-logo-img logo-img" src="https://www.fernuni-hagen.de/imperia/md/images/logos/logo_fernuni_hagen.svg">
                    </a>
                </div>
                <div class="col-lg-8 exp-text" style="padding-top:3em; "><ul><li>Researched on Emotion Prediction in Email Conversations using Natural Language Processing, which required me to implement a spam classifier and then predict emotion from ham emails, using Java with Apache Lucene and Stanford NLP libraries.</li></ul></div>
            </div>
        </div>
    </section>
