    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" style="width:25%" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <div class="col-lg-12">
                    <p>I work as a Specialist Consultant at Deloitte and have been with the firm for over 2 years now. I hold a Master’s Degree in Computer Science from Northeastern University and I have had over 3 years of experience in the software field wherein I worked in various roles pertaining to Software Development, Data Science and Engineering.
                    I look forward to work in challenging work environments and I’m highly enthusiastic to learn and always strive to give my best.</p>
                </div>
                        <span class="skills">{{ site.skills }}</span>
                        <br><br>
                        <div>
                            <a href="https://drive.google.com/file/d/1YW3db2ejAB_2uNkEzyH8njJjq79LK1hu/view?usp=sharing" style="color:  #2c3e50;font-size:  1.2em;font-weight:  1000;">
                            Resume &nbsp;<i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>