    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" style="width:25%" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <div class="col-lg-12">
                    <p>I've been working as a Data Scientist at Deloitte for about 2 years. I hold a Masters Degree in Computer Science from Northeastern University and I have 3 years of software engineering experience wherein I worked in various roles pertaining to Data Science, Data Engineering, Software Development and Web Development.
                    
                    I look forward to work in challenging work environments and I’m highly enthusiastic to learn and always strive to give my best.</p>
                </div>
                        <span class="skills">{{ site.skills }}</span>
                        <br><br>
                        <div>
                            <a href="https://drive.google.com/file/d/1GJMWfypw6y0RcqWUX7tcx8XS0jYw9jpi/view?usp=sharing" style="color:  #2c3e50;font-size:  1.2em;font-weight:  1000;">
                            Resume &nbsp;<i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>