    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <div class="col-lg-12">
                    <p>I am a Masters student in Computer Science at Northeastern University and I'm actively looking for Full time opportunities starting from December’18.
                    
                    I look forward to work in challenging work environments which can help nurture my skills allowing me to contribute more. I’m highly enthusiastic to learn and always strive to give my best.</p>
                </div>
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>