 <!-- About Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
    <div class="row">
          <div class="skill-logo-head col-md-4"><h3> Programming Languages:</h3></div>
          <div class="col-md-8 skill-logo-row">
            <a href="https://en.wikipedia.org/wiki/Python_(programming_language)">
                <img class="skill-logo-img logo-img" src="https://seeklogo.com/images/P/python-logo-C50EED1930-seeklogo.com.png">
            </a>
            <a href="https://en.wikipedia.org/wiki/Java_(programming_language)">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png">
            </a>
            
            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/0/0d/C_Sharp_wordmark.svg">
            </a>
            <a href="https://en.wikipedia.org/wiki/Scala_(programming_language)">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/3/39/Scala-full-color.svg">
            </a>

         </div>

    </div>
    
    <div class="row">
            <div class="skill-logo-head col-md-4"><h3> Web Technologies:</h3></div>
        
        <div class="col-md-8 skill-logo-row">

            <a href="https://en.wikipedia.org/wiki/HTML5">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/120px-HTML5_logo_and_wordmark.svg.png">
            </a>
            <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets#CSS_3">
                <img class="skill-logo-img logo-img" src="https://www.lifewire.com/thmb/s9kfBeuaF14VAGgE-SjDB-L0ZDs=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/css3-57b597e85f9b58b5c2b338de.png">
            </a>
            <a href="https://en.wikipedia.org/wiki/JavaScript">
                <img class="skill-logo-img logo-img" src="https://www.javatpoint.com/images/javascript/javascript_logo.png">
            </a>
            <a href="https://en.wikipedia.org/wiki/PHP">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/2000px-PHP-logo.svg.png">
            </a>
            <a href="https://en.wikipedia.org/wiki/AngularJS">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/500px-AngularJS_logo.svg.png">
            </a>
            <a href="https://en.wikipedia.org/wiki/React_(JavaScript_library)">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg">
            </a>
            <a href="https://en.wikipedia.org/wiki/Node.js">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/440px-Node.js_logo.svg.png">
            </a>
            <a href="https://en.wikipedia.org/wiki/.NET_Framework">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Microsoft_.NET_logo.png">
            </a>
            <a href="https://en.wikipedia.org/wiki/Django_(web_framework)">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/7/75/Django_logo.svg">
            </a>
            
      
     </div>

            </div>


    <div class="row">
          <div class="skill-logo-head col-md-4"><h3> Databases:</h3></div>
          <div class="col-md-8 skill-logo-row">
            <a href="https://en.wikipedia.org/wiki/MySQL">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/en/e/ee/MySQL_Logo.png">
            </a>
            <a href="https://en.wikipedia.org/wiki/MongoDB">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/MongoDB-Logo.svg/500px-MongoDB-Logo.svg.png">
            </a>
            <a href="https://en.wikipedia.org/wiki/Apache_Impala">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/en/2/20/Apache_Impala_Logo.svg">
            </a>
            <a href="https://en.wikipedia.org/wiki/Apache_Hive">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Apache_Hive_logo.svg">
            </a>
            <a href="https://en.wikipedia.org/wiki/Algolia">
                <img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Algolia-logo.svg/440px-Algolia-logo.svg.png">
            </a>
          
         </div>

    </div>

    <div class="row">
          <div class="skill-logo-head col-md-4"><h3> Miscellaneous:</h3></div>
          <div class="col-md-8 skill-logo-row">
            <a href="https://en.wikipedia.org/wiki/Apache_Spark"><img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Apache_Spark_logo.svg"></a>
            <a href="https://en.wikipedia.org/wiki/Apache_Hadoop"><img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/3/38/Hadoop_logo_new.svg"></a>
            <a href="https://en.wikipedia.org/wiki/TensorFlow"><img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/1/11/TensorFlowLogo.svg"></a>
            <a href="https://en.wikipedia.org/wiki/keras"><img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Keras_logo.svg"></a>
            <a href="https://en.wikipedia.org/wiki/Scikit-learn"><img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg"></a>
            <a href="https://en.wikipedia.org/wiki/gensim"><img class="skill-logo-img logo-img" src="https://miro.medium.com/max/718/1*xbeUzEfXA5tndW9zM4gOrQ.png"></a>
            <a href="https://en.wikipedia.org/wiki/Natural_Language_Toolkit"><img class="skill-logo-img logo-img" src="https://miro.medium.com/max/1184/0*zKRz1UgqpOZ4bvuA"></a>
            <a href="https://en.wikipedia.org/wiki/Spring_Framework"><img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Spring_Framework_Logo_2018.svg"></a>
            <a href="https://en.wikipedia.org/wiki/Jenkins_(software)"><img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Jenkins_logo_with_title.svg"></a>
            <a href="https://en.wikipedia.org/wiki/Heroku"><img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Heroku_logo.svg"></a>
            <a href="https://en.wikipedia.org/wiki/Amazon_Web_Services"><img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg"></a>
            <a href="https://en.wikipedia.org/wiki/Google_Cloud_Platform"><img class="skill-logo-img logo-img" src="https://upload.wikimedia.org/wikipedia/en/5/51/Google_Cloud_logo.svg"></a>
         </div>

    </div>


        </div>
    </section>