 <!-- About Section -->
    <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <p>I am a Masters student in Computer Science at Northeastern University and I'm actively looking for Full time opportunities starting from December’18.
                    
                    I look forward to work in challenging work environments which can help nurture my skills allowing me to contribute more. I’m highly enthusiastic to always learn and strive to give my best.</p>
                </div>
            </div>
        </div>
    </section>
